[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Sarvesh331
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Sarvesh331
	label-Verified = -1..+1 group user/Sarvesh331
	push = group user/Sarvesh331
	read = group user/Sarvesh331
	rebase = group user/Sarvesh331
	removeReviewer = group user/Sarvesh331
	submit = group user/Sarvesh331
[access "refs/heads/*"]
	create = group user/Sarvesh331
	push = +force group user/Sarvesh331
	pushMerge = group user/Sarvesh331
	read = group user/Sarvesh331
[access "refs/tags/*"]
	push = group user/Sarvesh331
	push = +force group user/Sarvesh331
